@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");
/* Common CSS Start From Here */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: #f5f8ff;
}

:root {
  --text-black: #000000;
  --text-description: rgba(0, 0, 0, 0.5);
  --noto-serif: "Noto Serif", serif;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
div,
p,
li {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

main section {
  margin-top: 120px;
}

.section-head {
  text-align: center;
  max-width: 888px;
  margin: 0 auto;
}

.section-title {
  color: #e95a08;
  font-size: 3.125rem;
  font-weight: 700;
  font-family: var(--noto-serif);
}

.section-title span {
  color: var(--text-black);
  font-size: 3.125rem;
  font-weight: 700;
  font-family: var(--noto-serif);
}

.section-description {
  color: var(--text-description);
  font-size: 1.375rem;
  padding-top: 16px;
}

/* Common CSS End Here */

/* Navbar CSS Start From Here */
.navbar {
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.menu {
  gap: 48px;
}

.menu li a {
  color: #8987a1;
  font-size: 1rem;
  font-weight: 500;
  transition: all linear 0.3s;
}

.menu li a:hover {
  color: var(--text-black);
}

.menu-btn {
  gap: 48px;
}

.card-btn {
  color: var(--text-black);
  font-size: 1rem;
  transition: all linear 0.3s;
}
.card-btn:hover {
  color: #8987a1;
}

.banner {
  padding: 226px 0 0 0;
}

.banner-main {
  justify-content: space-between;
  align-items: center;
}

.banner-content {
  max-width: 570px;
}

.banner-title {
  font-family: var(--noto-serif);
  font-weight: 700;
  font-size: 4.0625rem;
  color: var(--text-black);
}

.banner-title span {
  font-family: var(--noto-serif);
  font-weight: 700;
  font-size: 4.0625rem;
  color: #e95a08;
}

.banner-description {
  font-size: 1.375rem;
  color: var(--text-description);
  padding-top: 13px;
}
/* Navbar CSS End Here */

/* Our Planets CSS Start From Here */
.card-main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 50px;
}

.card-items {
  text-align: center;
}

.card-name {
  font-weight: 500;
  font-size: 1.375rem;
  color: #111111;
}

.price {
  font-weight: 700;
  font-size: 1.375rem;
  color: #111111;
}

.cart-btn {
  padding: 20px 80px;
  background: #e95a08;
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
  transition: all linear 0.3s;
  text-transform: uppercase;
  margin-top: 20px;
}

.cart-btn:hover {
  background: #111111;
}
/* Our Planets CSS End Here */

/* Planet Lover CSS Start From Here */
.planet-lover {
  margin-top: 170px;
}

.planet-lover-main {
  justify-content: space-between;
  align-items: center;
}

.items-img {
  position: relative;
}

@keyframes round {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.trusted-badge {
  position: absolute;
  top: -20%;
  right: -20%;
  max-width: 50%;
  animation: round 10s linear infinite;
}

.heading-title {
  font-family: var(--noto-serif);
  font-weight: 700;
  font-size: 3.125rem;
  color: var(--text-black);
  padding-bottom: 20px;
}

.text-content {
  max-width: 540px;
}

.text-content li {
  color: var(--text-description);
  font-size: 1.375rem;
  padding-bottom: 20px;
}
/* Planet Lover CSS End Here */

/* Common CSS Start From Here */
/* Common CSS End Here */

/* Responsive CSS Style From Here */

@media screen and (max-width: 576px) {
  /* Navbar Responsive Start */
  .navbar,
  .banner-content {
    padding: 0 20px;
  }
  .menu {
    display: none;
  }

  .banner {
    padding: 100px 0;
  }

  .banner-main {
    flex-direction: column-reverse;
  }

  .banner-title {
    max-width: 270px;
  }

  .banner-content {
    margin-top: 28px;
  }

  .banner-title {
    font-size: 1.5rem;
  }

  .banner-title span {
    font-size: 1.5rem;
  }
  /* Navbar Responsive Ends */

  /* Our Planets Responsive Start */
  .our-planets {
    padding: 0 20px;
  }

  .card-name {
    font-size: 1rem;
  }

  .price {
    font-size: 1rem;
  }

  .card-main {
    grid-template-columns: repeat(2, 1fr);
  }

  .cart-btn {
    padding: 15px 50px;
  }
  /* Our Planets Responsive Ends */

  /* Planet Lover CSS Start From Here */
  .planet-lover {
    margin-top: 100px;
    padding: 0 20px;
  }

  .planet-lover-main {
    flex-direction: column;
  }
  .trusted-badge {
    display: none;
  }

  .heading-title {
    font-size: 1.5rem;
  }

  .text-content {
    margin-top: 18px;
  }

  .text-content li {
    font-size: 0.875rem;
  }
  /* Planet Lover CSS End Here */
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  /* Navbar Responsive Start */
  .header {
    padding: 0 20px;
  }
  .menu {
    display: none;
  }

  .banner {
    padding: 100px 0;
  }

  .banner-main {
    flex-direction: column-reverse;
  }

  .banner-content {
    padding-top: 28px;
    text-align: center;
  }

  .banner-title {
    font-size: 1.5rem;
  }

  .banner-title span {
    font-size: 1.5rem;
  }
  /* Navbar Responsive Ends */

  /* Our Planets Responsive Start */
  .our-planets {
    padding: 0 20px;
  }

  .card-name {
    font-size: 1rem;
  }

  .price {
    font-size: 1rem;
  }

  .card-main {
    grid-template-columns: repeat(2, 1fr);
  }

  .cart-btn {
    padding: 15px 50px;
  }
  /* Our Planets Responsive Ends */

  /* Planet Lover CSS Start From Here */
  .planet-lover {
    margin-top: 100px;
    padding: 0 20px;
  }

  .planet-lover-main {
    flex-direction: column;
  }
  .trusted-badge {
    display: none;
  }

  .heading-title {
    font-size: 1.5rem;
  }

  .text-content {
    margin-top: 18px;
  }

  .text-content li {
    font-size: 0.875rem;
  }
  /* Planet Lover CSS End Here */
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  /* Navbar Responsive Start */
  .header {
    padding: 0 20px;
  }
  .menu {
    display: none;
  }

  .banner {
    padding: 100px 0;
  }

  .banner-main {
    flex-direction: column-reverse;
  }

  .banner-content {
    padding-top: 28px;
    text-align: center;
  }

  .banner-title {
    font-size: 2.5rem;
  }

  .banner-title span {
    font-size: 2.5rem;
  }
  /* Navbar Responsive Ends */

  /* Our Planets Responsive Start */
  .our-planets {
    padding: 0 20px;
  }

  .card-name {
    font-size: 1rem;
  }

  .price {
    font-size: 1rem;
  }

  .card-main {
    grid-template-columns: repeat(3, 1fr);
  }

  .cart-btn {
    padding: 15px 80px;
  }
  /* Our Planets Responsive Ends */

  /* Planet Lover CSS Start From Here */
  .planet-lover {
    margin-top: 100px;
    padding: 0 20px;
  }

  .planet-lover-main {
    flex-direction: column;
  }
  .trusted-badge {
    display: none;
  }

  .heading-title {
    font-size: 1.5rem;
  }

  .text-content {
    margin-top: 18px;
  }

  .text-content li {
    font-size: 0.875rem;
  }
  /* Planet Lover CSS End Here */
}

@media screen and (min-width: 993px) and (max-width: 1140px) {
  /* Navbar Responsive Start */
  .header {
    padding: 0 20px;
  }
  /* Navbar Responsive Ends */

  /* Our Planets Responsive Start */
  .our-planets {
    padding: 0 20px;
  }

  .card-name {
    font-size: 1rem;
  }

  .price {
    font-size: 1rem;
  }

  .cart-btn {
    padding: 15px 50px;
  }
  /* Our Planets Responsive Ends */

  /* Planet Lover CSS Start From Here */
  .planet-lover {
    margin-top: 100px;
    padding: 0 20px;
  }

  .planet-lover-main {
    flex-direction: column;
  }

  .trusted-badge {
    display: none;
  }

  .heading-title {
    font-size: 1.5rem;
  }

  .text-content {
    margin-top: 18px;
  }

  .text-content li {
    font-size: 0.875rem;
  }

  /* Planet Lover CSS End Here */
}

@media screen and (min-width: 1141px) and (max-width: 1440px) {
  /* Navbar Responsive Start */
  .header {
    padding: 0 20px;
  }
  /* Navbar Responsive Ends */

  /* Our Planets Responsive Start */
  .our-planets {
    padding: 0 20px;
  }

  .card-name {
    font-size: 1rem;
  }

  .price {
    font-size: 1rem;
  }

  .cart-btn {
    padding: 15px 70px;
  }
  /* Our Planets Responsive Ends */

  /* Planet Lover CSS Start From Here */
  .planet-lover {
    margin-top: 100px;
    padding: 0 20px;
  }
  .trusted-badge {
    animation: round 10s linear infinite;
  }

  .text-content {
    margin-top: 18px;
  }

  .text-content li {
    font-size: 0.875rem;
  }
  /* Planet Lover CSS End Here */
}

/* Responsive CSS Style End Here */
